.mw-100 {
    max-width: 100% !important;
    background-color: red;
}

.btn-dark:hover {
    background-color: #1e293b !important;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(207, 207, 207);
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(207, 207, 207);
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(207, 207, 207);
}

.form-control:focus {
    background-color: #1e293b;
    border-color: #1e293b;
    box-shadow: none;
}


.input-error::placeholder{
    font-size: 12   px;
    font-weight: bold;
    color:red;
}